
body{
	background: lightblue;}

h1{color:green; font-family: arial;}

li{display: inline-block;width:15%;background:white;}

a{text-decoration: center;}

p {
  font-size: 14px; font-family: arial;
}

img{width: 20%;}

nav ul li {
	text-align: center;
	border:1px solid black;
	margin:20px;
}
nav ul li a {
	color: red; 
	font-family:arial black;
	/*padding-left: 10px; padding-right: 4px;*/
	text-decoration: none;

	text-align: center;
}
/*nav{
	color:red; font-family: arial black;
	padding: 2px top: 2px bottom: 4px left: 4px right;

}*/

